<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--    <property name="LOG_HOME" value="/xvdb/logs/etc_callcenter" />-->
    <property name="LOG_HOME" value="/Users/sujiwu/Downloads/data/logs" />
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_HOME}/sm-authen-code-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 2MB, keep 7 days worth of history, but at most 200MB -->
            <maxFileSize>2MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="WARN">
        <appender-ref ref="STDOUT" />
<!--        <appender-ref ref="FILE" />-->
    </root>

    <logger name="com.etollpay" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
<!--        <appender-ref ref="FILE" />-->
    </logger>
</configuration>